body {
    background-color: black;
    color: red;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: red;
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    margin: 20px auto;
}

button {
    background-color: red;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
